ion-searchbar {
    --border-radius: 15px;
}

section {
    padding: 0px 10px;
}

ion-chip {
    width: auto;
    font-size: small;
}

ion-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

ion-avatar{
    width: 75px;
    height: 75px;
}
