<ion-header class="ion-no-border">
  <ion-toolbar style="color:#F0F0F0;">

    <ion-buttons slot="end">
      <ion-button style="border: 1px solid #7a7a7a;text-transform: none;border-radius: 10px"
        routerLink="placeholder">
        <span style="color: #2b2b2b;font-weight: 400;">Edit Profile</span>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avatarCard">
    <div>
      <ion-avatar>
        <img src="{{user.image}}" alt="profile picture">
      </ion-avatar>
    </div>
  </div>

  <ion-card style="text-align: center;box-shadow: none;">
    <ion-card-header>
      <ion-card-title>{{user.name}}</ion-card-title>
    </ion-card-header>
    <div>
      <ion-item lines="none">
        <ion-label class="ion-text-wrap">
          <h2>Tours</h2>
          <p>{{user.tourCount}}</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h2>Rating</h2>
          <p>{{user.rating}}
            <ion-icon name="star"></ion-icon>
          </p>
        </ion-label>
      </ion-item>
    </div>
    <ion-card-content>
      {{user.description}}
    </ion-card-content>

  </ion-card>

</ion-content>