ion-card {
    height: auto;
    border-radius: 8px;
    margin: 5px 5px 15px;
    position: relative;
    text-align: left;
}

ion-img {
    height: 150px;
    object-fit: cover;
}

ion-label {
}

ion-icon {
    opacity: 0.8;
}

.price-tag {
    color: #474440;
    line-height: 0px;
}

.myOverlay {
    text-align: center;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    height: auto;
    position: absolute;
    z-index: 99;
    top: 110px;
    right: 10px;
    opacity: 1;
    background: #ffffff;
    border-radius: 10px;
}

.labelHeader {
    text-transform: none;
    font-weight: bold;
}
