<ion-content>
  <section>
    <ion-segment color="warning" [(ngModel)]="type" scrollable>
      <ion-segment-button value="booked" checked>
        <ion-label class="labelHeader">Booked</ion-label>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="pending">
        <ion-label class="labelHeader">Pending</ion-label>
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label class="labelHeader">Completed</ion-label>
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="type">
      <ion-list *ngSwitchCase="'booked'">
        <div *ngFor="let booking of bookings">
          <ion-card *ngIf="booking.status == 'Booked'" routerLink="placeholder" color="white">
            <ion-img [src]="booking.image"></ion-img>
            <div class="myOverlay">
              <p class="price-tag">
                {{booking.date}} |
                {{booking.time}}
              </p>
            </div>
            <ion-card-header>
              <ion-card-title style="color: #3D3D3D;">{{booking.name}}
              </ion-card-title>
              <p style="font: normal 14px;color: #3D3D3D;">{{booking.description}}</p>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'pending'">
        <div *ngFor="let booking of bookings">
          <ion-card *ngIf="booking.status == 'Pending'" routerLink="placeholder" color="white">
            <ion-img [src]="booking.image"></ion-img>
            <div class="myOverlay">
              <p class="price-tag">
                {{booking.date}} |
                {{booking.time}}
              </p>
            </div>
            <ion-card-header>
              <ion-card-title style="font: bold 20px OpenSans-Bold;color: #3D3D3D;">{{booking.name}}
              </ion-card-title>
              <p style="font: normal 14px;color: #3D3D3D;">{{booking.description}}</p>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'completed'">
        <div *ngFor="let booking of bookings ">
          <ion-card *ngIf="booking.status == 'Complete'" routerLink="placeholder" color="white">
            <ion-img [src]="booking.image"></ion-img>
            <div class="myOverlay">
              <p class="price-tag">
                {{booking.date}} |
                {{booking.time}}
              </p>
            </div>
            <ion-card-header>
              <ion-card-title style="font: bold 20px OpenSans-Bold;color: #3D3D3D;">{{booking.name}}
              </ion-card-title>
              <p style="font: normal 14px;color: #3D3D3D;">{{booking.description}}</p>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-list>
    </div>
  </section>
</ion-content>