<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar style="--background	: white;" placeholder="What are you searching for?"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <!-- banner section -->
    <div class="banner">
      <img class="bannerImage" src="assets/bannerwhite.png">
    </div>

  </div>

  <section style="margin-bottom: 10px;">
    <!-- hero section -->
    <ion-grid>
      <ion-row *ngFor="let menuRow of menuGrid">
        <ion-col *ngFor="let menuCol of menuRow">
          <ion-card class="heroCard" routerLink="/{{ menuCol.link }}">
            <img class="heroCardImage" src="{{ menuCol.image }}">
            <ion-card-title class="heroCardText">{{ menuCol.name }}</ion-card-title>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <div style="background-color: white;width: 100%;padding-top: 0.5px;padding-bottom: 15px;box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 6px, rgba(0, 0, 0, 0.06) 0px 3px 6px;
  ">
    <section>
      <!-- location section -->
      <h5 class="sectionHeader">NEAR YOU <span style="float:right;margin-right: 2%">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </span></h5>
      <div style="background-color: white;border-radius: 5px;">
        <swiper [slidesPerView]="1.2">
          <ng-template swiperSlide *ngFor="let location of mockData.nearbyLocations">
            <ion-card class="locationCard" [ngStyle]="{'background-image': 'url(' + location.image + ')'}">
              <ion-card-title class="locationCardText">{{ location.name }}</ion-card-title>
              <ion-card-subtitle style="text-align: right;" class="locationCardText"><span
                  style="color: #feaa00;font-weight: bold;">{{
                  location.experiencesAvailable }}</span> experiences</ion-card-subtitle>
            </ion-card>
          </ng-template>
        </swiper>
      </div>
    </section>
  </div>

  <br>
  <div style="background-color: white;width: 100%;padding-top: 0.5px;padding-bottom: 15px;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
  ">

    <section>
      <!-- experiences section -->
      <h5 class="sectionHeader">TOURS<span style="float:right;margin-right: 2%">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </span></h5>
      <ion-grid>
        <ion-row *ngFor="let experienceRow of experiencesGrid" class="ion-justify-content-between">
          <ion-col *ngFor="let experienceCol of experienceRow">
            <ion-card style="box-shadow: none;    margin: auto; margin-bottom: 15px;background-color: white;">
              <div class="container">
                <img class="experienceCardImage" src="{{ experienceCol.image }}">
                <div class="bottom-right">
                  <ion-icon style="color: #feaa00;" name="star"></ion-icon>
                  <ion-label class="labelText">{{experienceCol.rating}}</ion-label>
                </div>
              </div>
              <ion-card-title class="experienceCardText">{{ experienceCol.name }}</ion-card-title>
              <ion-card-subtitle class="experienceCardText">{{experienceCol.description }}</ion-card-subtitle>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  </div>


</ion-content>