ion-searchbar {
    --border-radius: 15px;
}

ion-content {
    --padding-top: 0;
}

section {
    padding: 0px 15px;
}

.hero {
    background-image: url("media/bg.jpeg"); // 600w 700h
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: #2f4858; // animated bg fail safe
    height: 45%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    top: 0;
}

.actionBttnWrapper {
    margin: auto;
    width: 85%;
    margin-top: 30%;
}

ion-button {
    --background: white;
    margin-bottom: 15px;
}

.sectionHeader {
    font-weight: 600;
}

.locationCard {
    box-shadow: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0); // bg fail safe
    border-radius: 5px;
}

.locationCardText {
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.expOverlay {
    text-align: center;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    height: auto;
    position: absolute;
    z-index: 99;
    top: 70%;
    right: 2%;
    opacity: 1;
    background: #ffffff;
    border-radius: 10px;
}

.nameOverlay {
    text-align: center;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    height: auto;
    position: absolute;
    z-index: 99;
    top: 2%;
    left: 2%;
    opacity: 1;
    background: #ffffff;
    border-radius: 10px;
}

.experienceCardImage {
    background-image: url("media/ruas-mais-bonitas-de-lisboa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff; // bg fail safe
    border-radius: 10px;
}

.experienceCardText {
    color: black;
}
