ion-header,
ion-content {
    --ion-background-color: #ffb449 !important;
}

ion-searchbar {
    --border-radius: 15px;
}

section {
    padding: 0px 10px;
}

.banner {
    width: 100%;
}

.bannerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heroCard {
    padding: 5px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
}

.heroCardImage {
    border-radius: 5px;
}

.heroCardText {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(73, 73, 73);
}

.heroCardSuggest {
    padding: 5px;
    background-color: white;
    margin: auto;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.13) 0px 3px 6px;
    width: 95%;
}

.heroCardSuggestText {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(73, 73, 73);
}

.sectionHeader {
    font-weight: 600;
    color: #ffb449;
}

.locationCard {
    box-shadow: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0); // bg fail safe
    border-radius: 5px;
}

.locationCardText {
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.experienceCardImage {
    background-image: url("media/ruas-mais-bonitas-de-lisboa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff; // bg fail safe
    border-radius: 5px;
}

.experienceCardText {
    color: black;
    word-break: break-all;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 5px;
    color: black;
    font-size: medium;
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 5px;
}

.labelText {
    margin-left: 5px;
    font-size: large;
}
