ion-header,
ion-content {
    --ion-background-color: #ffb449 !important;
}

ion-searchbar {
    --border-radius: 15px;
}

section {
    padding: 0px 10px;
}

.banner {
    width: 100%;
}

.bannerText {
    text-align: center;
    vertical-align: middle;
    line-height: 85px;
    margin: auto;
    color: white;
    font-weight: bold;
}

.heroCard {
    padding: 5px;
    background-color: white;
    margin: auto;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.heroCardImage {
    border-radius: 5px;
}

.heroCardText {
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(70, 70, 70);
}

.sectionHeader {
    font-weight: 600;
    color: #ffb449;
  
}

.locationCard {
    box-shadow: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0); // bg fail safe
    border-radius: 5px;
}

.locationCardText {
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.experienceCardImage {
    background-image: url("media/ruas-mais-bonitas-de-lisboa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff; // bg fail safe
    border-radius: 5px;
}

.experienceCardText {
    color: black;
}
