<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-searchbar placeholder="Search experience"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="hero">
    <!-- hero section -->
    <ion-text color="light">
      <h1>lorem</h1>
    </ion-text>
    <div class="actionBttnWrapper">
      <ion-button expand="block" shape="round">Find experience</ion-button>
      <ion-button expand="block" shape="round">Meet buddy</ion-button>
      <ion-button expand="block" shape="round">Buy itinerary</ion-button>
    </div>
  </section>


  <section>
    <!-- location section -->
    <!-- change to new design -->
    <h2>Nearby Locations</h2>
    <swiper [slidesPerView]="1.3">
      <ng-template swiperSlide *ngFor="let location of mockData.nearbyLocations">
        <ion-card style="box-shadow: none;">
          <img class="locationCardImage" src="{{ location.image }}">
          <div class="nameOverlay">
            <p style="color: black;">
              <ion-card-title class="locationCardText">{{ location.name }}</ion-card-title>
            </p>
          </div>
          <div class="expOverlay">
            <p style="color: black;"><span style="color: #feaa00;font-weight: bold;">{{
                location.experiencesAvailable }}</span> experiences</p>
          </div>
        </ion-card>

      </ng-template>
    </swiper>

  </section>

  <section>
    <!-- experiences section --> <!-- change to scroll downwards -->
    <h2>Experiences</h2>
    <swiper [slidesPerView]="1.3">
      <ng-template swiperSlide *ngFor="let experience of mockData.suggestedExperiences">
        <ion-card style="box-shadow: none;">
          <img class="locationCardImage" src="{{ experience.image }}">
          <ion-card-header>
            <ion-card-title class="locationCardText">{{ experience.name }}</ion-card-title>
            <ion-card-subtitle class="locationCardText">{{experience.description }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ng-template>
    </swiper>

  </section>

</ion-content>