<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Search experience"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section>
    <!-- hero section -->
    <h1 class="ion-text-center">Not sure what to do?</h1>
    <ion-button color="medium" expand="block">Find experience</ion-button>
    <ion-button color="medium" expand="block">Meet buddy</ion-button>
    <ion-button color="medium" expand="block">Buy itinerary</ion-button>
  </section>

  <section>
    <!-- location section -->
    <h2>Nearby Locations</h2>
    <swiper [slidesPerView]="2">
      <ng-template swiperSlide *ngFor="let location of mockData.nearbyLocations">
        <div>{{ location.name }}</div>
        <div>{{ location.image }}</div>
        <div>{{ location.experiencesAvailable }}</div>
      </ng-template>
    </swiper>

  </section>

  <section>
    <!-- experiences section -->
    <h2>Experiences</h2>
    <swiper [slidesPerView]="2">
      <ng-template swiperSlide *ngFor="let experience of mockData.suggestedExperiences">
        <div>{{ experience.name }}</div>
        <div>{{ experience.image }}</div>
        <div>{{ experience.price }} / Person</div>
        <div>{{ experience.rating }}</div>
      </ng-template>
    </swiper>

  </section>

</ion-content>