<ion-content fullscreen>

  <section>
    <ion-segment color="warning" [(ngModel)]="type" scrollable>
      <ion-segment-button value="conversations" checked>
        <ion-icon name="mail-unread-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="notifications" checked>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="type">

      <ion-list *ngSwitchCase="'conversations'">
        <ion-list-header>
          Recent messages
        </ion-list-header>
        <ion-item *ngFor="let contact of mockData.messages" routerLink="placeholder">
          <ion-avatar slot="start">
            <img src="{{ contact.image }}">
          </ion-avatar>
          <ion-label>
            <h2 class="name">{{ contact.name }}</h2>
            <p>{{ contact.description }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'notifications'">
        <ion-list-header>
          Notification timeline
        </ion-list-header>
        <ion-item *ngFor="let notification of mockData.notifications" routerLink="placeholder"
          style="--border-color: transparent;">





          <ion-card
            style="width: 100%;padding-bottom: 15px;  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;border-radius: 10px;    ">

            <ion-item lines="none" style="margin-top: 15px">
              <ion-icon item-start name="checkmark-circle" style="margin-right: 15px; color: #FFB449;"></ion-icon>
              <ion-label>{{ notification.message }}
              </ion-label>
              <span style="float: right;font-size: small;color: rgb(104, 104, 104);"> {{ notification.time }} min
                ago</span>

            </ion-item>



          </ion-card>
        </ion-item>
      </ion-list>



    </div>
  </section>


</ion-content>